@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To all <a asp-action="Customers"> customers</a>.</p>
    <p>To find <a asp-action="Find"> customers</a>.</p>
    <p>To delete <a asp-action="DeleteCustomer"> customers</a>.</p>
</div>
