@model Customer

<div style="background-color:lightgray;">
    @Html.DisplayFor(m=>m.Id)
    <br />
    @Html.DisplayName(Model.Name);
    <br />
    @Html.DisplayFor(m=>m.SecondName)
    <br />
</div>